*{
	padding: 0;
	margin: 0;
}
#div1 {
    width: auto;
    height: auto;
    max-width: 530px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    font-size: 0;
}
.block{
	width: 160px;
	height: 200px;
	border: 1px solid black;
	border-radius: 10px;
	/*margin: 5px;*/
}
/*
.block{
	display: inline-block; 
}*/